*{
    padding:0;
    margin:0;
}
h3{line-height: 60px;pageing:10px 0}
.menu{
    /*width:100%;*/
    background: #5e5e5e;
    font-size:0;
    text-align: center;
}
.menu a{
    cursor: pointer;
    font-size:18px;
    display: inline-block;
    padding:10px 20px;
    background: #deeeee;
     color:#5e5e5e;
    margin-left:1px;
    text-decoration: none;
}
.menu a:hover{
    background: #a0b0b0;
    color:#fff;
}
.page{
    display: block;
    width:100%;
    height:400px;
    text-align: center;
    font-size:30px;
    padding-top: 50px;
}
.Home{
    background: #62cfff;
    color: #fff
}
.page-two{
    background: #a0b0b0;
    color: #fff
}
.page-three{
    background: #5e5e5e;
    color: #fff
}
.text-center{
    text-align: center;
}
/*=================================
||          Index 
==================================*/
/*
|   1. Imports [30]
|   2. Global [37]
|   3. Colors [92]
|
|   =============
|   SECTIONS
|   =============
|   4. Header [112]
|   5. Our Service [222]
|   6. About Us [332]
|   7. Our Works [358]
|   8. Meet With Us [441]
|   9. Testimonial [506]
|   10. Contact With Us [560]
|   11. Media Query [711]
|
|
|
|
|
*/



/*=================================
||          1. Imports 
==================================*/
 /*@import url(http://fonts.useso.com/css?family=Raleway:400,700,300);
 @import url(http://fonts.useso.com/css?family=Roboto:300,700);*/


/*=================================
||          2. Global 
==================================*/
body
{
    font-family: 'Raleway', 'helvetica', sans-serif;
    background: #ddd;
}
.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }
.buttondemoBasicUsage md-content {
  margin-right: 7px; }
.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }
.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }